  @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root{
    --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Verydarkblue: hsl(163, 36%, 22%);
    --Darkgrayishblue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    background-color: var(--White);
    width: 38em;
    border-radius: 10px;

}


.prod-picture{
    width: 50%;
}

.prod-picture img{
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.prod-description{
    display: flex;
    flex-direction: column;
    justify-content:space-around;  
    width: 50%;
    padding: 2em;
}

p{
    font-family: 'Montserrat', sans-serif;
    color: var(--Darkgrayishblue);
    font-size: 14px;
    line-height: 1.5em;

}

h1{
    font-family: Fraunces, sans-serif;
    line-height: 1em;
}

.price{
    display: flex;
    align-items: center;
    gap: 1em;
}

#discount-price{
    color: var(--Darkcyan);
}

#current-price{
    text-decoration: line-through;
}

button{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 100%;
    padding: 1em;
    border-radius: 8px; 
    font-family: 'Montserrat', sans-serif;
    color: var(--White);
    background-color: var(--Darkcyan);
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: .3s;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: var(--Darkgrayishblue);
}

button:hover{
    background-color: var(--Verydarkblue);
}

@media screen and (max-width: 767px) {
    body {
      align-items: center;
      margin: 0; 
    }
  
    .container {
      flex-direction: column;
      width: 93%; 
      margin: 0 auto;
      max-height: 100vh;
      overflow: hidden; 
    }
  
    .prod-picture {
      width: 100%;
      content: url(/images/image-product-mobile.jpg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  
    .prod-picture img {
      display: none; 
    }
  
    .prod-description {
      width: 100%;
      padding: 1.75em;
    }

    h3{
        padding-bottom: 1em;
    }

    p{
        padding-top: 1.5em;
        padding-bottom: 1.1em;
    }
    button{
        margin-top: 1em;
        padding: 1.5em;
    }
  }
  